include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.in

recursive-include boundless_headless_renderer/assets *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
